html {
    font-size: 18px;

}

body {
    font-family: 'Inter', 'sans-serif';
    margin: 0px;
}

#background-img {
    background-image: url('Background.svg');
    height: 1024px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    margin-bottom: 216px;
}

#traditional-nav-bar {
    display: none;
}

#Artjunks-logo {
    color: #FFF;
    font-family: Inter;
    font-size: 30.4px;
    list-style: 37px;
    font-style: normal;
    font-weight: 900;
    margin: 32px auto auto 32px;
}

#Hamburger-menu {
    width: 35px;
    height: 35px;
    margin: 32px 32px 0 0;
}

#Hero-sections {
    display: flex;
    flex-direction: column;
    margin: 32px;
    width: 314px;
    max-width: 600px;

}

#Hero-rectangle-element {
    width: 90px;
    height: 15px;
}

h1 {
    font-family: 'Libre Caslon Display', 'sans-serif';
    color: #FFF;
    font-size: 50px;
    font-weight: 600;
    padding: 32px auto;
}

#hero-information {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 32px;
}

button {
    width: 153px;
    height: 42px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 9px 28px 11px 27px;
}


h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 78px auto 78px 32px;
}

#News-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto 32px 32px 32px;
    width: 311px;
    height: 619px;
}

.new-news-card-img {
    display: none;
}

.news-card-information {
    padding: 0 32px;
}

.news-card-date {
    color: #B7B7B7;
    margin-top: 35px;
    font-size: 13px;
    font-weight: 500;
}


.news-card-headline {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
}

.read-more-button {
    color: #D9852C;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
    margin-top: 18px;
}


@media screen and (min-width: 768px) {
    #Hero-sections {
        display: flex;
        width: 600px;
        margin-left: 72px;
        margin-right: 72px;
    }

    h1 {
        font-size: 70px;
    }

    #News-sections {
        flex-direction: row;
        justify-content: center;
    }

    .news-card {
        margin-left: 0px;
        width: 25%;
        height: 635px;
    }

    .news-card-img {
        width: 100%;
        height: 352px;
    }

    .news-card-headline {
        font-size: 15px;
    }
}

@media screen and (min-width:992px) {
    #Hamburger-menu {
        display: none;
    }

    #nav-bar-list {
        display: flex;
        list-style: none;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
    }

    ul li {
        padding-right: 35px;
    }

    #traditional-nav-bar {
        margin-top: 32px;
        margin-left: 27px;
        display: flex;
        list-style: none;
        margin-right: 35px;
        align-items: center;
        height: 42px;
    }

    #Nav-bar-button {
        border-radius: 10px;
        border: 2px solid #FFF;
        padding: 9px 27px 11px 27px;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
    }

    .news-card {
        max-width: 419px;
        height: 635px;
    }

    .news-card-headline{
        font-size: 25px;
        margin-top: 26px;
    }
    

    .news-card-img {
        display: none;
    }

    .new-news-card-img {
        display: block;
        width: 100%;
    }

    .news-card-date {
        font-size: 15px;
    }

    .read-more-button {
        font-size: 15px;
    }

}